<section class="bg-dark">
    <div class="container text-white">

        <h2 class="d-flex align-items-center">
            <div class="trapez-lewy"></div>
            O nas
        </h2>
        <div class="row">

            <div class="col-12 col-lg-8 tekst">
                Posiadamy samochody o pojemności od 12 do 24 m³, dzięki czemu jesteśmy w stanie dostosować się do każdego zlecenia — zarówno mniejszych przeprowadzek, jak i dużych transportów.
                <br><br>

                <div class="d-flex justify-content-center d-lg-none bus-front-wrap">
                    <img class="bus-front" src="./assets/bus-front.png" alt="Przód busa transportowego">
                </div>

                Jesteśmy firmą transportową, która wyróżnia się całodobową dostępnością. Bez względu na porę dnia, zapewniamy niezawodne usługi logistyczne, zawsze gotowi sprostać oczekiwaniom naszych klientów. Nasza obsługa klienta 24/7 pozwala dostarczać szybkie i efektywne rozwiązania, czyniąc nas renomowanym partnerem w branży transportowej.
                <br><br>

                Nasza firma opiera się na profesjonalizmie, terminowości, atrakcyjnych cenach oraz bezpieczeństwie. Bez względu na to, czy potrzebujecie transportu lokalnego, krajowego, jesteśmy gotowi sprostać Państwa oczekiwaniom.
                <br><br>
            </div>
            <div class="col-12 col-lg-4 d-none d-lg-flex align-items-center justify-content-center">
                <img class="bus-front" src="./assets/bus-front.png" alt="Przód busa transportowego">
            </div>
        </div>
    </div>
</section>
